/* ##### Color
brown: #523728; 
background:  #FFF8E1;
background: Green #53A623 ,
light brown #745545;
date-background: #BB6939;
contact-background: #FCAE36;


font-family: 'Inika', serif;
font-family: 'Inter', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/


@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Inter:wght@400;500;600;700&family=Outfit:wght@500&family=Poppins:wght@500&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro{
    background: url("./images/MAIN\ BG\ \(1\).png") center/cover no-repeat;
    
}

.header{
    padding: 30px;
}

 

.logo img{
  transform: translate(-5%,-20%);
}

.nav-bar{
    background:white ;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 55%;
    width: 80%;
    box-shadow: 2px 9px 42px #4D422C;
    display: none;
}

.nav-bar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 18% 0;
}

.nav-bar ul li{
    list-style-type: none;
    padding-top: 40px;
}

.nav-bar ul li:nth-child(1){
    padding-top: 0;
}

.nav-bar ul li a{
    text-decoration: none;
    display: block;
    color: #523728;
    font-family: 'Inter', sans-serif;
font-weight: 600;
}

.nav-bar button{
    color: #523728;
    background: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: #523728;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.button{
    color: #523728;
    background: transparent;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: #523728;
    display: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#check{
    display: none;
}


label #bars,label #cancel{
    position: absolute;
    color: #523728;
    font-size: 30px;
    top: 60px;
    left: 80%;
}

label #cancel{
    display: none;
}

#check:checked ~ label #bars{
    display: none;
}

#check:checked ~ label #cancel{
    display: block;
}

#check:checked ~ .nav-bar{
    display: block;
}


/* ******************BITE***************** */
.bite{
    margin:50px 30px 30px;
    text-align: center;
}

.bite-item h1{
    line-height: 50px;
    font-size: 50px;
    color: #523728;
    font-family: 'Inika', serif;
    font-weight: 400;
}

.bite-item p{
    font-size: 18px;
margin: 30px 0;
line-height: 25px;
color: #523728;
font-family: 'Inter', sans-serif;
font-weight: 400;
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns button{
    border-radius: 20px;
    width: 130px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.btn-1{
    background: #523728;
    color: white;
    margin-right: 15px;
}

.btn-2{
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: #523728;
    border-color: #523728;
}

.btn-2 img{
    margin-right: 10px;
}

.bite-img img{
    transform: translateX(-10%);
}

/* **********ABOUT************ */
.about{
    text-align: center;
    margin:30px;
}

.about-img{
    margin-bottom: 30px;
}
 
.about-item h1{
    font-size: 50px;
    color: #523728;
    font-family: 'Inika', serif;
    font-weight: 400;
}

.about-item p{
font-size: 18px;
margin: 30px 0;
line-height: 25px;
color: #523728;
font-family: 'Inter', sans-serif;
font-weight: 400;
}

.about-item .discover{
    margin: 10px 0 0 0;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.about-item button{
    background: #523728;
    color: white;
    margin-right: 15px;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* *************MENU************ */
.menu{
    margin-top: 150px;
    padding:   30px;
    text-align: center;
    background: #6A4028;
}

.title{
    text-align: center;
    margin: 30px;
    color: #523728;
}

.title h1{
    text-align: center;
    color: #523728;
    margin: 30px 0 10px 0;
    font-size: 40px;
    font-family: 'Inika', serif;
    font-weight: 400;
}

.menu .title h1{
    text-align: center;
    color: white;
    margin: 30px 0 10px 0;
    font-size: 40px;
    font-family: 'Inika', serif;
    font-weight: 400;
}

.item{
    background:  #FFF8E1;
    border-radius: 20px;
    padding: 30px 35px;
    width: 100%;
    height: 30%;
    margin-bottom: 25px;
    /* box-shadow: 2px 9px 42px #4D422C; */
}

.content{
    text-align: left;
    margin-top: 30px;
}

.content h2{
    color:  #1D2729;
    font-family: 'Inika', serif;
    font-weight: 700;
}

.content p{
     color : #555555;
     font-family: 'Roboto', sans-serif;
}
 
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.price h3{
    color:#745545;
    font-family: 'Inter', sans-serif;
font-weight: 470;
}

span.dollar{
    color: #53A623;
    font-family: 'Inter', sans-serif;
font-weight: 700;
}

.view{
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.view img{
    margin-left: 15px;
}

/* ***************BLOG*************** */
.blog{
    margin:  150px 30px 30px;
    text-align: center;
}

.blog-1{
    background:  #FFF8E1;
    border-radius: 20px;
    padding: 30px ;
    width: 100%;
    height: 55%;
    margin-bottom: 25px;
    /* box-shadow: 2px 9px 42px #4D422C; */
}

.blog-1 img{
    border-radius: 20px;
    width: 100%;
}


.blog-content{
    text-align: left;
    margin-top: 30px;
}

.blog-content h3{
    color:   #BB6939;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
}

.blog-content h2{
    color: #734B33;
    margin: 15px 0;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.blog-content p{
    color: #704B33;
    line-height: 25px;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.blog-content h4{
    color: #704B33;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}


/* **********************CONTACT************ */
.contact{
    margin-top: 100px;
    padding:   30px;
    text-align: center;
    background: #6A4028;
}

 .contact-us{
    color: white;
 }

.contact-us h1{
    /* color: #523728; */
    font-family: 'Inika', serif;
    font-weight: 700;
}

.contact-us p{
    margin: 15px 0 0 0;
    /* color: #523728; */
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.contact-img{
    transform: scale(0.8) translateX(-5%);
}

.contact-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

input{
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 100%;
}

::placeholder{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #757575;
}

#message{
  padding: 15px 15px 100px;
}

.contact-2 button{
    background: #FCAE36;
    padding: 15px 20px;
    width: 100%;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.contact-3{
    margin-top: 50px;
}

.icons .fa{
    margin-right: 25px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    z-index: 11111111111111111;
}

 
.icons .fa:last-child{
    margin-right: 0;
}

.icons .fa::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1111;
}

 

.fa{
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright{
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.copyright span{
   
    color: #523728;
}

@media screen and (min-width:900px) and (max-width:1200px){
    .header{
        padding:50px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .logo img{
        transform: translateX(-5%);
      }
      
      .nav-bar{
          background:#523728;
          padding: 0;
          border-radius: 10px;
          width: 500px;
          height: initial;
          display: flex;
          position: initial;       
          top: 0;
          left: 0;
          transform: translateX(-13%);
          box-shadow: none;
      }
      
      .nav-bar ul{
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          padding: 30px;
          width: 100%;
      }
      
      .nav-bar ul li{
          padding-left: 30px;
          padding-top: 0;
      }
      
      .nav-bar ul li:nth-child(1){
          padding-left: 0;
      }
      
      .nav-bar ul li a{
          text-decoration: none;
          display: block;
          color: white;
      }
      
      .nav-bar button{
          display: none;
      }

      .button{
          display: block;
      }
      
      label #bars,label #cancel{
        display: none;
      }
      
      
    /* ******************BITE***************** */
.bite{
    margin:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.bite-item{
    width: 70%;
}

.bite-img img{
    transform: scale(1.4) translate(-10%,-30px) ;
}

.btns{
    display: flex;
     align-items: initial;
     justify-content: initial;
}

.about-item{
    margin-left: 50px;
    width: 50%;
}

.about-img img{
    transform: scale(1.5) translate(20px,-20px);
}


.about-item{
    margin-left: 50px;
}

.about{
    text-align: left;
    margin:50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

/* ***********MENU************* */

.menu{
    padding: 50px;

}

.menu-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    height: 50%;
    margin-top: 15px;
}

.price{
    margin-top: 15px;
}


.item{
    width: 400px;
    height: 40%;
    margin-right: 25px;
}

.blog{
    margin:  50px;
    text-align: center;
}

.blog-1{
    padding: 30px ;
    width: 450px;
    height: 720px;
    margin-right: 25px;
}

.blog-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* **********************CONTACT************ */
.contact{
    padding:100px 30px 30px;
    text-align: left;
}

 .contacts{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
 }

 .contact-1{
    width: 70%;
 }

.contact-us p{
    margin: 15px 0 0 0;
     
}

.contact-img{
    transform: scale(0.8) translateX(-12%);
}

.contact-2{
    display: block;
    transform: translateY(15%);
    width: 350px;
}

#message{
  padding: 15px 15px 100px;
}

.contact-3{
    margin-top: 30px;
}
.copyright{
    margin-left: -10px;
}
}
 

@media screen and (min-width:1200px){
    .header{
        padding:50px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .logo img{
        transform: translateX(-5%);
      }
      
      .nav-bar{
          background:#523728;
          padding: 0;
          border-radius: 10px;
          width: 500px;
          height: initial;
          display: flex;
          position: initial;       
          top: 0;
          left: 0;
          transform: translateX(-13%);
          box-shadow: none;

      }
      
      .nav-bar ul{
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          padding: 30px;
          width: 100%;
      }
      
      .nav-bar ul li{
          padding-left: 30px;
          padding-top: 0;
      }
      
      .nav-bar ul li:nth-child(1){
          padding-left: 0;
      }
      
      .nav-bar ul li a{
          text-decoration: none;
          display: block;
          color: white;
      }
      
      .nav-bar button{
          display: none;
      }

      .button{
          display: block;
      }
      
      label #bars,label #cancel{
        display: none;
      }
      
      
    /* ******************BITE***************** */
.bite{
    margin:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.bite-item{
    width: 70%;
}

.bite-img img{
    transform: scale(1.6) translate(0,-30px);
}

.btns{
    display: flex;
     align-items: initial;
     justify-content: initial;
}

.about-item{
    margin-left: 50px;
    width: 50%;
}

.about-img img{
    transform: scale(1.5) translate(20px,-20px);
}

.about{
    text-align: left;
    margin:100px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.menu{
    padding: 100px;
}

.menu-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
    height: 50%;
}


.item{
    width: 400px;
    height: 400px;
    margin-right: 25px;
}

.blog{
    margin:  100px;
    text-align: center;
}

.blog-1{
    padding: 30px ;
    width: 450px;
    height: 700px;
    margin-right: 25px;
}

.blog-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* **********************CONTACT************ */
.contact{
    padding:100px 100px 100px;
    text-align: left;
}

 .contacts{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
 }

 .contact-1{
    width: 70%;
 }

.contact-us p{
    margin: 15px 0 0 0;
    
}

.contact-img{
    transform: scale(0.8) translate(-10%,-10%);
}

.contact-2{
    display: block;
    transform: translateY(15%);width: 350px;
}

#message{
  padding: 15px 15px 100px;
}

.contact-3{
    margin-top: -20px;
}
.copyright{
    margin-left: -10px;
}

}
 